[submodule "src/server/robot-mcp-server"]
	path = src/server/robot-mcp-server
	url = git@github.com:SC-WSKun/robot-mcp-server.git
[submodule "src/server/home-mcp-server"]
	path = src/server/home-mcp-server
	url = git@github.com:SC-WSKun/home-mcp-server.git
